<div class="container marginbottom60">
<h3>Donation Payment Status</h3>

<div class=""><h5>Thank you for your donation.</h5>

<p>Below are the details of your donation for your record.</p> <br />
<p>Note : Please be informed that your donation amount will only be reflected on the fundraising progress once your donation is CONFIRMED.</p>
</div>

<table>
	<thead></thead>
	<tbody>
	<tr><td>Transaction ID</td><td>{{ tranID }}</td></tr>
	<tr><td>Amount</td><td>{{ amount }}</td></tr>
	<tr><td>Date and Time</td><td>{{ paydate }}</td></tr>
	<tr><td>Status</td><td>{{ status }}</td></tr>
	</tbody>

</table>
<a href ="{{ url }}" class="btn ghost-btn-pink centered blocked font18">Return to Donation Page</a>
</div>
