{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
<!-- Header -->
<div class="image-video-holder  paddbottom40">

      {% if content.field_video|render is not empty %}

      <div class="bg-dark-blue">
        <div class="container white">

      {{ content.field_video }}

        </div>

      </div>

      {% elseif content.field_header_image|render is not empty %}

      <img src="{{ file_url(node.field_header_image.entity.fileuri) }}" width="100%">

      {% else %}

      <h2>Place image here</h2>

      {% endif %}

</div>

<!-- Top Section -->
<div class="deal-page" style="padding:0 40px">
<div class="deal-listings  container nopadding  ">

    <div class="col-sm-9 nomargin nopadding bg-grey">
      <div class="deal-left-column col-sm-2 nopadding">
          {{content.flag_follow}}
         <!--<a data-toggle="modal" class="follow-link blocked" href="#announcement">Follow</a>-->
         <img src="{{ file_url(node.field_avatar.entity.fileuri) }}" width="100%">
         <a class="contact-link blocked" href="mailto:{{ node.field_contact_email.value }}?Subject=ATA Plus-{{ node.label }}" target="_top">Contact</a>

      </div>
      <div class="deal-right-column col-sm-10 padd20">
         <h3 class="fontmedium2 dark-blue font28">{{ label }}</h3>
         <p class="deal-desc dark-blue">{{ content.body }}</p>

         <p class="dark-grey share-text">Share</p>
         <div class="share social-media-link">
         <a href="http://www.facebook.com/sharer.php?u={{ url('<current>') }}" class="fb" target="_blank">fb</a>
         <a href="https://twitter.com/share?url={{ url('<current>') }}&amp;text={{ node.label }}" target="_blank" class="twt">twt</a>
         <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ url('<current>') }}" target="_blank" class="in">in</a>
         </div>
      </div>
      </div>

    <div class="col-sm-3 nomargin nopadding bg-white">

      <div class="amount-raised text-center margintop20">
      {% if node.field_deals_status.value == "Active" %}
      <span class="fontmedium2 dark-blue font28 blocked">
      RM {{ amount }} <!-- TODO : Change this once the value raised can be calculated --></span>

      {% else %}

      <span class="fontmedium2 dark-grey font28 blocked">Campaign Closed</span>

      {% endif %}

      <span class="dark-grey">raised</span>

      </div>
      <div class="amount-progress">
        <div class="progress">

        <!-- TODO : Change aria-valuenow to the value of percentage received -->
          <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="{{ percentage_raised }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ percentage_raised }}%">
          <span class="sr-only">{{ percentage_raised }}% Complete</span>

        </div>
        </div>
      </div>

      <div class="deal-details">
        <table class="table" id="deal-details">
        <tr><th>{{ percentage_raised }}% of target</th><td>{{ days_left }} days left</td></tr>
        <tr><th>Fund Target</th><td class="dark-blue fontreg">

        <!--TODO: Change this value into calculated value -->
        {{ content.field_minimum_offering_size.0 }}
        </td></tr>
        <tr><th>Offer</th><td class="dark-blue fontreg">{{ node.field_total_shares_issued_in_off.value.0 }}</td></tr>
        </table>
      </div>
      {% if node.field_deals_status.value == "Active" %}
      {% if node.field_investment_.value == "Investment" %}
      <a href="/invest/deal/{{node.id}}" style="width:70%" class="btn ghost-btn-pink centered blocked font18">Invest</a>
      {% else %}
      <a href="/donate/deal/{{node.id}}" style="width:70%" class="btn ghost-btn-pink centered blocked font18">Support Now</a>
      {% endif %}
      {% endif %}
    </div>
</div>

<!-- End Top -->

<!-- Tabs -->

<ul class="nav nav-tabs container" id="deal-page">
        <li class="active"><a class="blue" data-toggle="tab" href="#overview">Overview</a></li>
        <li><a class="blue"  data-toggle="tab" href="#discussion">Discussion</a></li>
        <li><a class="blue" data-toggle="tab" href="#downloads">Downloads</a></li>
        <li><a class="blue" data-toggle="tab" href="#investments">Commitments</a></li>

</ul>

<!-- End Tabs Menu -->


<!-- Start Tab content -->

<div class="tab-content container marginbottom60" id="deal-page-content" >

<!-- Start tab Overview -->
    <div id="overview" class="tab-pane fade in active paddbottom40">
        <div class="col-sm-9 nomargin nopadding bg-white " style="padding-right:40px">
        <div class="paddtop40 introduction">
        <h3 class="purple">What's this about</h3>
        {{content.field_introduction.0}}

        </div>

        <div class="paddtop40 introduction">
        <h3 class="purple">What's the Impact</h3>
        {{content.field_the_problem.0}}

        <hr>

        </div>

        <div class="paddtop40 introduction">
        <h3 class="purple">How the programme is funded</h3>
        {{content.field_why_are_we_different.0}}

        </div>

        <hr>

        <div class="paddtop40 introduction">
        <h3 class="purple">How you can make an impact</h3>
        {{content.field_our_revenue_model.0}}

        </div>

        <hr>

        <div class="paddtop40 introduction">
        <h3 class="purple">About us</h3>
        {{content.field_our_market_opportunity.0}}

        </div>

        <hr>

        <div class="paddtop40 introduction">
        <h3 class="purple">FAQs</h3>
        {{content.field_our_achievements.0}}

        </div>

        <hr>

        <div class="the-team marginbottom40">
        <h3 class="purple">Rewards</h3>

            {{content.field_team}}

       {% if content.field_team_notes|render is not empty %}

          <div class="well">{{content.field_team_notes.0}}</div>

        {% endif %}

        </div>

        <hr>

        {% if node.field_investment_.value == "Investment" %}

        <div class="term-sheet">
        <h3 class="purple">Term Sheet</h3>
        <!--<h4 class="purple marginbottom40">Excerpt One Liner</h4>-->
        <div class="row">
        <div class="col-sm-3" style="padding-right:0"><div class="padd20 bg-dark-purple white">Issuer</div></div>
        <div class="col-sm-9" style="padding-left:0"><div class="padd20 bg-grey dark-blue">{{content.field_issuer.0}}</div></div>
        </div>

        <div class="row">
        <div class="col-sm-3" style="padding-right:0"><div class="padd20 bg-dark-purple white">Type of Investment</div></div>
        <div class="col-sm-9" style="padding-left:0"><div class="padd20 bg-grey dark-blue">{{content.field_type_of_investment.0}}</div></div>
        </div>

        <div class="row">
        <div class="col-sm-3" style="padding-right:0"><div class="padd20 bg-dark-purple white">Pre-Money Valuation</div></div>
        <div class="col-sm-9" style="padding-left:0"><div class="padd20 bg-grey dark-blue">{{content.field_pre_money_valuation.0}}</div></div>
        </div>

        <div class="row">
        <div class="col-sm-3" style="padding-right:0"><div class="padd20 bg-dark-purple white">Minimum Offering Size</div></div>
        <div class="col-sm-9" style="padding-left:0"><div class="padd20 bg-grey dark-blue">{{content.field_minimum_offering_size.0}}</div></div>
        </div>

        <div class="row">
        <div class="col-sm-3" style="padding-right:0"><div class="padd20 bg-dark-purple white">Maximum Offering Size</div></div>
        <div class="col-sm-9" style="padding-left:0"><div class="padd20 bg-grey dark-blue">{{content.field_maximum_offering_size.0}}</div></div>
        </div>

        <div class="row">
        <div class="col-sm-3" style="padding-right:0"><div class="padd20 bg-dark-purple white">Price per Shares</div></div>
        <div class="col-sm-9" style="padding-left:0"><div class="padd20 bg-grey dark-blue">{{content.field_price_per_share.0}}</div></div>
        </div>

        <div class="row">
        <div class="col-sm-3" style="padding-right:0"><div class="padd20 bg-dark-purple white">Total Shares Issued in Offering</div></div>
        <div class="col-sm-9" style="padding-left:0"><div class="padd20 bg-grey dark-blue">{{content.field_total_shares_issued_in_off.0}}</div></div>
        </div>

        <div class="row">
        <div class="col-sm-3" style="padding-right:0"><div class="padd20 bg-dark-purple white">Type of Shares</div></div>
        <div class="col-sm-9" style="padding-left:0"><div class="padd20 bg-grey dark-blue">{{content.field_type_of.0}}</div></div>
        </div>

        <div class="row">
        <div class="col-sm-3" style="padding-right:0"><div class="padd20 bg-dark-purple white">Investor Eligibility</div></div>
        <div class="col-sm-9" style="padding-left:0"><div class="padd20 bg-grey dark-blue">{{content.field_investor_eligibility.0}}</div></div>

        </div>
        <div class="row">
        <div class="col-sm-3" style="padding-right:0"><div class="padd20 bg-dark-purple white">Information</div></div>
        <div class="col-sm-9" style="padding-left:0"><div class="padd20 bg-grey dark-blue">{{content.field_information.0}}</div></div>
        </div>

        <div class="row">
        <div class="col-sm-3" style="padding-right:0"><div class="padd20 bg-dark-purple white">Fund Raising Period</div></div>
        <div class="col-sm-9" style="padding-left:0"><div class="padd20 bg-grey dark-blue">{{content.field_fund_raising_perio.0}}x</div></div>
        </div>

        <div class="row">
        <div class="col-sm-3" style="padding-right:0"><div class="padd20 bg-dark-purple white">Closing Period</div></div>
        <div class="col-sm-9" style="padding-left:0"><div class="padd20 bg-grey dark-blue">{{content.field_closing_period.0}}</div></div>
        </div>

        <div class="row">
        <div class="col-sm-3" style="padding-right:0"><div class="padd20 bg-dark-purple white">Use of Proceeds</div></div>
        <div class="col-sm-9" style="padding-left:0"><div class="padd20 bg-grey dark-blue">{{content.field_use_of_proee.0}}</div></div>
        </div>

        <div class="row">
        <div class="col-sm-3" style="padding-right:0"><div class="padd20 bg-dark-purple white">Subscription Procedure</div></div>
        <div class="col-sm-9" style="padding-left:0"><div class="padd20 bg-grey dark-blue">{{content.field_subscription_procedure.0}}</div></div>
        </div>


        </div>

        {% endif %}
        </div>
        <!--<div class="col-sm-3 nopadding "></div>-->


    </div>

<!-- End Overview -->

<!-- Start tab Discussion -->

    <div id="discussion" class="tab-pane fade   ">2
        <div class="col-sm-9 nomargin nopadding bg-white " style="padding-right:40px">
          {{content.field_discussion.0}}
        </div>
    </div>

<!-- End Discussion -->

<!-- Start tab Downloads -->
    <div id="downloads" class="tab-pane fade  ">
      <!--
        <div class="col-sm-9 nomargin nopadding bg-white " style="padding-right:40px">
          {{ content.field_downloads.0 }}
        </div>
      -->
    </div>

<!-- End Downloads -->

<!-- Start tab Investments -->
    <div id="investments" class="tab-pane fade  ">
{% if is_author %}
        <a href="/node/add/deals_update?deal={{nid}}" class="btn ghost-btn-purple centered blocked font18">Add update</a>
      {% endif %}
      {% if user.hasPermission('administer nodes') %}
        <a href="/node/add/deals_update?deal={{nid}}" class="btn ghost-btn-purple centered blocked font18">Add update</a>
      {% endif %}
        {{ drupal_view('commitment', 'block_1') }}

    </div>
<!-- End investments -->

<!-- Start tab Updates -->
    <div id="updates" class="tab-pane fade  ">

      {{ drupal_view('updates', 'block_1') }}

    </div>
<!-- End updates -->

</div>

<!-- End Contents -->

</div>

<!-- Start Disclaimer -->
<div class="padd60 white risk-disclaimer">
  <div class="container">
    <h1 class="banner-title text-center">Risk Disclaimer</h1>
    <p>Investing in equity crowdfunding involves certain risks that include uncertainty of returns, lack of liquidity, dilution, material events and lack of control. Investments should be done as part of a diversiﬁed portfolio. ATA PLUS offers investment opportunities to investors who understands these risks in making their own investment decisions.</p>
    <p><strong>PLEASE READ THE FULL RISK WARNING BEFORE DECIDING TO INVEST.</strong></p>
    <p>This page is approved as a ﬁnancial promotion by ATA PLUS Sdn. Bhd., which is authorized and regulated by the Security Commission of Malaysia. Deals that are up for investment are only offered to members of ata-plus.com on the basis of information provided by the companies concerned. ATA PLUS takes no responsibility for this information or for any recommendations or opinions made by the companies. For further information on this, please read our Term of Use.</p>

  </div>
</div>

<!-- End Disclaimer -->

