{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
<!-- Header -->
<div class="image-video-holder  paddbottom40">
      {% if content.field_video|render is not empty %}

      <div class="bg-dark-blue">
        <div class="container white">

      {{ content.field_video }}

        </div>

      </div>

      {% elseif content.field_header_image|render is not empty %}

      <img src="{{ file_url(node.field_header_image.entity.fileuri) }}" width="100%">

      {% else %}

      <h2>Place image here</h2>

      {% endif %}

</div>

<!-- Top Section -->
<div class="deal-page" style="padding:0 40px">
<div class="deal-listings  container nopadding  ">

    <div class="col-sm-9 nomargin nopadding bg-grey">
      <div class="deal-left-column col-sm-2 nopadding">
          {{content.flag_follow}}
         <!--<a data-toggle="modal" class="follow-link blocked" href="#announcement">Follow</a>-->
         <img src="{{ file_url(node.field_avatar.entity.fileuri) }}" width="100%">
         <a class="contact-link blocked" href="mailto:{{ node.field_contact_email.value }}?Subject=ATA Plus-{{ node.label }}" target="_top">Contact</a>

      </div>
      <div class="deal-right-column col-sm-10 padd20">
         <h3 class="fontmedium2 dark-blue font28">{{ label }}</h3>
         <p class="deal-desc dark-blue">{{ content.body }}</p>

         <p class="dark-grey share-text">Share</p>
         <div class="share social-media-link">
         <a href="http://www.facebook.com/sharer.php?u={{ url('<current>') }}" class="fb" target="_blank">fb</a>
         <a href="https://twitter.com/share?url={{ url('<current>') }}&amp;text={{ node.label }}" target="_blank" class="twt">twt</a>
         <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ url('<current>') }}" target="_blank" class="in">in</a>
         </div>
      </div>
      </div>

    <div class="col-sm-3 nomargin nopadding bg-white">

      <div class="amount-raised text-center margintop20">
        {% if node.field_deals_status.value == "Closed" %}

      <span class="fontmedium2 dark-grey font28 blocked">Campaign Closed</span>

      {% endif %}

      <span class="fontmedium2 dark-blue font28 blocked">

      RM {{ amount }} <!-- TODO : Change this once the value raised can be calculated --></span>

      <span class="dark-grey">raised</span>

      </div>
      <div class="amount-progress">
        <div class="progress">

        <!-- TODO : Change aria-valuenow to the value of percentage received -->
          <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="{{ percentage_raised }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ percentage_raised }}%">
          <span class="sr-only">{{ percentage_raised }}% Complete</span>

        </div>
        </div>
      </div>

      <div class="deal-details">
        <table class="table" id="deal-details">
        <tr><th>{{ percentage_raised }}% of target</th>
          <td>{% if days_left >= 0 %}
              {{content.field_end_date_time.0}}
              {% else %} 0 days left
              {% endif %}</td>
        </tr>
        <tr><th>Investors</th><td class="dark-blue fontreg">{{ content.field_no_of_investors.0 }}</td></tr>
        <tr><th>Min Target</th><td class="dark-blue fontreg">

        <!--TODO: Change this value into calculated value -->
        {{ content.field_minimum_offering_size.0 }}
        </td></tr>
        <tr><th>Max Target</th><td class="dark-blue fontreg">{{ content.field_maximum_offering_size.0 }}</td></tr>
        </table>
      </div>


      {% if node.field_deals_status.value == "Active" %}
      {% if node.field_investment_.value == "Investment" %}
        {% if logged_in %}
          {% if age > 17 %}
          <a href="#modal-invest-1" data-toggle="modal" style="width:70%" id="investbutton_{{machine}}" class="btn ghost-btn-pink centered blocked font18">Invest</a>
          {% else %}
            <a href="#modal-invest-3" data-toggle="modal" style="width:70%" id="investbutton_{{machine}}" class="btn ghost-btn-pink centered blocked font18">Invest</a>
          {% endif %}
        {% else %}
          <a href="/user/login?destination={{url}}" id="logininvestbutton_{{machine}}" style="width:70%" class="btn ghost-btn-pink centered blocked font18">Log In to Invest</a><br /><br />
        {% endif %}
      {% else %}
      <a href="/donate/deal/{{node.id}}" style="width:70%" class="btn ghost-btn-pink centered blocked font18">Donate</a>
      {% endif %}
      {% endif %}
    </div>
</div>

<!-- End Top -->

<!-- Tabs -->

<ul class="nav nav-tabs container" id="deal-page">
        <li class="active"><a class="blue" data-toggle="tab" href="#overview">Overview</a></li>
        <li><a class="blue" data-toggle="tab" href="#overview-mand">Overview (Mandarin)</a></li>
        {% if node.field_investment_.value == "Investment" %}
        <li><a class="blue" data-toggle="tab" href="#termsheet">Term Sheet</a></li>
        {% endif %}

          {% if logged_in  %}
            {% if node.field_deals_status.value == "Active" %}
              <li><a class="blue"  data-toggle="tab" href="#discussion">Discussion</a></li>
            {% endif %}
          {% else %}
            <li><a class="blue"  data-toggle="tab" href="#discussion_out">Discussion</a></li>
          {% endif %}

        {% if logged_in %}
        <li><a class="blue" data-toggle="tab" href="#downloads">Downloads</a></li>
        {% else %}
        <li><a class="blue" data-toggle="tab" href="#downloads_out">Downloads</a></li>
        {% endif %}
        {% if logged_in %}
        <li><a class="blue" data-toggle="tab" href="#updates">Updates</a></li>
        {% else %}
        <li><a class="blue" data-toggle="tab" href="#updates_out">Updates</a></li>
        {% endif %}
        {% if content.flag_invested %}
          <li><a class="blue" data-toggle="tab" href="#investments">Investments</a></li>
        {% endif %}
</ul>

<!-- End Tabs Menu -->


<!-- Start Tab content -->

<div class="tab-content container marginbottom60" id="deal-page-content" >

<!-- Start tab Overview -->
    <div id="overview" class="paddtop20 tab-pane fade in active paddbottom40">
        <div class="col-sm-12 nomargin nopadding bg-white " style="padding-right:40px">
        <div class="paddtop20 introduction">
        {% if content.field_highlights %}
           {{content.field_highlights.0}}
        {% endif %}
        <h3 class="purple">Introduction</h3>
        {{content.field_introduction.0}}

        </div>

        <hr>

        <div class="paddtop20 introduction">
        <h3 class="purple">What We Do</h3>
        <h4 class="margintop20">The Challenge</h4>
        {{content.field_the_problem.0}}

        <h4 class="margintop20">Our Solution</h4>
        {{content.field_our_solution.0}}

        </div>

        <hr>

        <div class="paddtop20 introduction">
        <h3 class="purple">Why Are We Different</h3>
        {{content.field_why_are_we_different.0}}

        </div>

        <hr>

        {% if content.field_our_revenue_model|render|trim is not empty %}
        <div class="paddtop20 introduction">

        <h3 class="purple">Our Revenue Model</h3>


        {{content.field_our_revenue_model.0}}

        </div>

        <hr>
        {% endif %}

        <div class="paddtop20 introduction">
        <h3 class="purple">Our Market Opportunity</h3>
        {{content.field_our_market_opportunity.0}}

        </div>

        <hr>

        <div class="paddtop20 introduction">
        <h3 class="purple">Our Strategy</h3>
        {{content.field_our_strategy.0}}

        </div>

        <hr>

        {% if content.field_our_achievements|render is not empty %}
        <div class="paddtop20 introduction">
        <h3 class="purple">{{ progress_title }}</h3>
        {{content.field_our_achievements.0}}

        </div>

        <hr>
        {% endif %}

        <div class="paddtop20 introduction">
        <h3 class="purple">Indicative Usage of Funds</h3>
        {{content.field_usage_of_funds.0}}

        </div>

        <hr>

        <div class="the-team marginbottom40">
        <h3 class="purple">The Team</h3>

            {{content.field_team}}

        {% if content.field_team_notes|render is not empty %}

          <div class="well">{{content.field_team_notes.0}}</div>

        {% endif %}

        </div>

      </div>
    </div>

<!-- End Overview -->

<!-- Start tab Overview Mandarin -->
<div id="overview-mand" class="paddtop20 tab-pane fade in paddbottom40">
    <div class="col-sm-12 nomargin nopadding bg-white " style="padding-right:40px">
    <div class="paddtop20 introduction">
    
    <h3 class="purple">Introduction</h3>
    <p>MyStartr Sdn Bhd (MSB)专注于提供股权众筹服务、奖励型众筹服务以及与创业公司发展相关活动的公司。MyStartr于2012年通过奖励型众筹的方式成立。市面上有很多有创意的想法和项目，但资金来源总是创造者及企业家的烦恼。</p>
    <p>自2017年起，MyStartr在马来西亚华文商界组织了一场备受认可的创业大赛，也称之为“圆梦工场创业大赛”。2019年，MyStartr正式获得了马来西亚证券委员会的许可，开始经营股权众筹(ECF)平台。</p>
    <p>尽管处在Covid-19大流行，但在不到24个月的时间里，MyStartr凭借专业团队，迅速发展，成为马来西亚10家注册ECF运营商中的第二大。在市场份额方面，MyStartr于2020年协助13家发行者募集约2000万令吉，而行业总募资额为127.73亿令吉，占市场份额15.6%。此外，MyStartr还促进了马来西亚第一个一千万令吉的ECF项目。该项目由Abletech Solutions Sdn Bhd (LOCKIN by Subplace)主领，于2021年8月完成。</p>
    <p>MyStartr的目标是帮助初创和中小企业进一步发展，并在2030年前帮助至少5000名企业家获得成功。因此，我们需要一个由三种服务组成的资本解决方案生态系统：</p>
    <p><ol><li>基于奖励型众筹服务作为创意阶段的融资渠道；</li>
    <li>使用股权众筹来加速融资过程，并与风投对接，开展更多轮的融资计划；</li>
    <li>提供二级市场为投资者准备退场的机会。</li>
    </ol></p><br />



<p>简而言之，MyStartr所做的就是“融钱、融人、融资源。”</p>


    </div>

    <hr>

    <div class="paddtop20 introduction">
    <h3 class="purple">What We Do</h3>
    <h4 class="margintop20">The Challenge</h4>
    <p>中小型及初创企业的烦恼：</p>
    <ul>
    <li>有很多公司都有好的商业理念，但它们的发展和成长需要资金支持。然而，由于公司成立时间较短，或收入增长还不够强劲等原因，银行贷款等传统融资方式无法提供资金。</li>
    <li>私募市场，如风险投资公司通常有自己的偏好，设下了高门槛。</li>
    <li>由于缺乏市场关注，很大部分的人不知道如何接触潜在投资者。</li>
    </ul>

    <h4 class="margintop20">Our Solution</h4>
   <p>中小型企业和初创企业:</p>
   <p>MyStartr是一家提供全服方位的股权众筹平台，在食品、科技、美容、医疗等多个行业策划高质量的股权交易。为发起众筹者（发行者）提供了一个全面的入门SOP，并附有明确和可操作的指示，以确保其ECF活动从准备到众筹，以及ECF后的投资者关系管理活动等能够顺利进行。</p>
   <p>通过“圆梦工场创业大赛”，我们为客户提供创业相关的教育和孵化器项目，以便能够帮助他们更快地成长，发展得更远。</p>
   <p>除此之外，MyStartr还为新公司或初创公司提供基于奖励型的众筹服务，以验证其产品与市场的契合度。</p>

    </div>

    <hr>

    <div class="paddtop20 introduction">
    <h3 class="purple">Why Are We Different</h3>
    <h4>专注于中文市场</H4>
    <p>MyStartr通过将项目及投资人面向华人社区而脱颖而出。马来西亚大部分的中小型企业是属于华人。</p>
    <img alt="Table" data-entity-type="file" data-entity-uuid="f69297b3-3571-4c69-8806-e220de289bf2" height="350" src="/sites/default/files/inline-images/MyStartr%20Table_1.png" width="1100" class="align-center">
   
    <p>因此，提供一个他们最熟悉的中文ECF平台至关重要。</p>

    <h4>从零到一的支持</h4>
    <p>MyStartr提供全程指导和陪伴予成功的申请者(发行者)，从前期的准备，到中间过程中的注意事项，再到募资后的每个细节，确保一切顺利。我们还通过“圆梦工场创业大赛”提供孵化器项目来帮助创业者。</p>

    <h4>积少成多</h4>
    <p>MyStartr更加关注散户投资者，因为我们相信大众的力量。过去我们有至少3600个投资者，其中90%是散户。每个项目的平均投资者人数是130人。可以说是，每一个项目都凝聚了群众的力量。</p>

    <h4>简单方便的投资流程:</h4>
    <p>由于大部分投资者来自散户，我们的平台界面整合了电子商务的理念，使得投资过程更容易、更方便、更透明。</p>

    <h4>专业团队</h4>
    <p>我们拥有一支坚信股权众筹价值的专业团队，对所托付的工作，都是“使命必达”的态度。</p>

     <img alt="Contest photo" data-align="center" data-entity-type="file" data-entity-uuid="625e90f1-3729-4306-9a51-9cd1d28bb3f3" src="/sites/default/files/inline-images/group%20photo.jpg" />

    </div>

    <hr>

   
    <div class="paddtop20 introduction">

    <h3 class="purple">Our Revenue Model</h3>
    <p>股权众筹</p>
    <p>该业务是帮助公司在网络平台上向大众发起筹款活动。投资人可以以小金额的方式投资，支持公司的业务扩张。如果公司成功募集到最低目标资金，将向其征收8%的标准费用，即成功费。</p>

    <p>回報众筹</p>
    <p>基于奖励的众筹是为项目所有者(个人或企业)发起的一种筹资活动，通过此活动，他们能够获得公众的支持（以小额投资的方式），开发自己的项目(可以是一个产品或服务)。如果项目所有人(或筹款人)成功募集到最低目标资金，平台将向其收取10%的标准费用。</p>

    <p>活动管理(孵化器)</p>
    <p>活动管理业务部门主要集中在一个主要的年度比赛，即圆梦工场创业大赛(Dream Factory Startup Contest)，旨在为初创企业宣传他们的商业理念和竞争。该竞赛还包括一系列为期2个月的培训项目，孵化初创企业，为迎接市场挑战做好准备。DFSC已经举办了第四年，比赛的主要有两个收入来源：第一阶段比赛产生的赞助和众筹成功费。
</p>

    </div>

    <hr>
  

    <div class="paddtop20 introduction">
    <h3 class="purple">Our Market Opportunity</h3>
    <p>股权众筹是一个新兴的金融市场，马来西亚证券委员会(Securities Commission Malaysia)在2015年引入了监管框架。自2016年以来，ECF行业已成功举办约169次众筹活动，总筹款金额为199.23万令吉，一共有164家发行者从中受益。大多数活动都是在过去两年完成的，特别是2020年，这表明与前几年相比，ECF市场开始获得了市场的关注。据估计，在未来5年里，它将继续呈指数增长。</p>
    <p>2020年，ECF的市场规模为RM127.73 mil，与资本市场中其他细分市场的规模相比，仍然较小。</p>
    <img alt="market opportunity" data-entity-type="file" data-entity-uuid="e3b4a4b4-cceb-4f83-baea-d5827ef5cccc" src="/sites/default/files/inline-images/Table%20market%20opportunity%201_0.png" class="align-center">

    <p>市场增长主要由：</p>
    <ol>
    <li>中小型微企业支撑，是马来西亚经济重要的增长引擎。马来西亚的经济占国内生产总值的60%左右，但仍然相对落后。根据资本市场总体计划 3（Capital Market Master Plan 3），估计有900亿令吉的融资缺口；</li>
    <li>2021年共计4870亿令吉的定期存款 (马来西亚央行统计)，这些存款有可能转为ECF投资。假设转换率为1%，这意味着将为ECF市场提供48亿令吉的投资基金。</li>
    </ol>

    <p>考虑到2020年ECF的强劲增长，我们估计复合年增长率(CAGR)为45%，从2021年的3.8320亿令吉增至2026年的36亿令吉。</p>

   <img alt="market opportunity 2" data-entity-type="file" data-entity-uuid="cdc8d67e-65b4-4283-b8ed-078926dc323b" src="/sites/default/files/inline-images/Table%20market%20opportunity%202_1.png" class="align-center">



    </div>

    <hr>

    <div class="paddtop20 introduction">
    <h3 class="purple">Our Strategy</h3>
    <p>在马来西亚，融资需求与传统融资渠道之间存在着缺口。正如之前的部分所述，这是一个巨大的市场和机会。我们相信，随着人们对股权众筹的认识越来越多，对股权众筹的需求会越来越大。在未来5年，商业战略将分为3个主要部分:
</p>
    <h4>短期内</h4>
    <ul>
      <li>积极地获得更大的市场份额来扩大ECF业务部门。</li>
      <li>建立更多战略和企业伙伴关系，吸引更多企业家考虑使用股权众筹来融资。</li>
      <li>基于Ui/Ux和流程自动化方面来升级现有平台，甚至会采用AI解决方案来适应和交付目标数量的项目，同时为投资者提供更好的用户体验，以获得更多的转化率。
</li>
    </ul>

      <h4>中期
</h4>
     <ul>
      <li>开发一个二级市场以供投资者套现的机会。</li>
      <li>扩大我们的孵化器服务(通过“圆梦工场创业大赛”)，包括提供加速器活动，已建立一个良好的环境，以天使投资人的身份，孵化有潜力的项目。</li>
      <li>通过奖励型众筹服务的新品发布和专项推广，帮助更多中小企业和初创企业获得更多的销售和资金。</li>
    </ul>

      <h4>长期
</h4>
     <ul>
      <li>基于对关键潜在市场的数据和洞察，以及对我们产品的兴趣，开拓新的全球市场。</li>
      <li>通过IPO上市。</li>
    </ul>

    

    </div>

    <hr>

    {% if content.field_our_achievements|render is not empty %}
    <div class="paddtop20 introduction">
    <h3 class="purple">Our Achievements</h3>
    <img alt="Achievements" data-entity-type="file" data-entity-uuid="377ef129-ecda-4ccb-861e-6c0ec7eb1744" src="/sites/default/files/inline-images/Achivements%201.PNG" class="align-center">

    <ul>
      <li>在2020年，我们的总众筹金额目标是1000万令吉，但最终结果是2000万令吉。</li>
      <li>在3500多名投资者的支持下，已经完成了30多个ECF项目，至今成功融资超过5000万令吉。</li>
      <li>2021年8月，我们成为马来西亚首个完成10亿令吉众筹项目（Lockin by Subplace）的股权众筹平台。</li>
      <li>目前有10个ECF平台，成立不到2年的MyStartr已经成为第二大ECF平台，2020年占市场份额的16%。</li>
    </ul>

    </div>

    <hr>
    {% endif %}

    <div class="paddtop20 introduction">
    <h3 class="purple">Indicative Usage of Funds</h3>
    <img alt="Use of Funds" data-entity-type="file" data-entity-uuid="3052d07d-a9ea-4d18-acd2-72b9d1e520fd" src="/sites/default/files/inline-images/Use%20of%20fund_0.PNG" class="align-center">

    </div>

    <hr>

    <div class="the-team marginbottom40">
    <h3 class="purple">The Team</h3>
     
<div id="team" class="row marginbottom20">
     <div class="col-sm-3"><img src="/" width="100%"></div>
     <div class="col-sm-9">
     <h4 class="dark-blue marginbottom20">姓名-Goh Boon Peng</h4>
     <h4 class="dark-grey marginbottom20">职位-创始人兼首席执行官</h4>
     <p class="dark-blue"><ul><li>国立台湾大学计算机科学与信息工程专业毕业。</li>
<li>20年以上电子商务经验；10年以上商务教练和创业加速器经验。</li>
<li>他曾担任AMI Technology的助理经理，Purple Cane Enterprise Sdn Bhd的CRM经理。2012年创立MyStartr Sdn Bhd，以奖励型众筹和圆梦工场作为圆梦方案。</li>
<li>2017年，“圆梦工场”发展成为一个创业竞赛，帮助创意、初创企业和中小企业加速和促进其成长。2019年，获得马来西亚证券委员会授权，开展股权众筹。</li>
</ul>

</p>
     </div>
</div>


</div>
          <div class="field--item">


<div id="team" class="row marginbottom20">
     <div class="col-sm-3"><img src="/sites/default/files/2021-11/Lien%20Quek%20Leong%2C%20William.jpg" width="100%"></div>
     <div class="col-sm-9">
     <h4 class="dark-blue marginbottom20">姓名-Lien Quek Leong, William</h4>
     <h4 class="dark-grey marginbottom20">头衔-联合创始人兼首席运营官 </h4>
     <p class="dark-blue"><ul><li>毕业于中央俄克拉何马大学管理科学专业。</li>
<li>20年以上的企业高管工作经验，曾担任宏碁Acer集团区域经理、Harvey NormanC&C总经理, 以及马来西亚中华总商会资讯工艺组副主任。</li>
</ul>

</p>
     </div>
</div>



</div>
          <div class="field--item">


<div id="team" class="row marginbottom20">
     <div class="col-sm-3"><img src="/sites/default/files/2021-11/Lim%20Yah%20Whee.jpg" width="100%"></div>
     <div class="col-sm-9">
     <h4 class="dark-blue marginbottom20">姓名-Lim Yah Whee</h4>
     <h4 class="dark-grey marginbottom20">职位-联合创始人兼首席人力资源官(HR)</h4>
     <p class="dark-blue"><ul><li>7年电子商务、活动管理、咨询、ICT企业财务控制和人力资源管理经验。</li>
     <li>15年《星洲日报》编辑经验。</li></ul>
</p>
     </div>
</div>


</div>
          <div class="field--item">


<div id="team" class="row marginbottom20">
     <div class="col-sm-3"><img src="/sites/default/files/2021-11/Gordon.jpg" width="100%"></div>
     <div class="col-sm-9">
     <h4 class="dark-blue marginbottom20">姓名-Low Kok Tong, Gordon</h4>
     <h4 class="dark-grey marginbottom20">头衔-首席行政官
</h4>
     <p class="dark-blue"><ul>
     <li>哲学硕士(经济学)，毕业于UTAR。</li>
     <li>5年财经新闻工作经验。</li>
     <li>5年经济、市场和商业研究经验。</li>
     </ul>
</p>
     </div>
</div>



</div>
          <div class="field--item">


<div id="team" class="row marginbottom20">
     <div class="col-sm-3"><img src="/sites/default/files/2021-11/Cale.jpg" width="100%"></div>
     <div class="col-sm-9">
     <h4 class="dark-blue marginbottom20">姓名-Teo Kang Ler, Cale</h4>
     <h4 class="dark-grey marginbottom20">职务-项目经理</h4>
     <p class="dark-blue"><ul><li>国立成功大学工商管理系毕业</li><li>3年科技行业工作经验，2021年圆梦工场创业大赛活动经理。</li></ul>
</p>
     </div>
</div>



</div>
          <div class="field--item">


<div id="team" class="row marginbottom20">
     <div class="col-sm-3"><img src="/sites/default/files/2021-11/Xavern.jpg" width="100%"></div>
     <div class="col-sm-9">
     <h4 class="dark-blue marginbottom20">姓名-Chaw Chia Ling, Xavern </h4>
     <h4 class="dark-grey marginbottom20">职位-市场营销经理</h4>
     <p class="dark-blue"><ul><li>Facebook数字营销助理认证</li><li>专业司仪认证
</li></ul></p>
     </div>
</div>

</div>
      </div>

            
    </div>

<!-- End Overview Mandarin-->

<!-- Start tab Term sheet -->

 {% if node.field_investment_.value == "Investment" %}

      <div id="termsheet" class="paddtop20 tab-pane fade">

        <div class="term-sheet">
        <h3 class="purple">Term Sheet</h3>
        <div class="table-responsive">

          <div class="hidden-sm hidden-md hidden-lg termsheet-mobile">
          {% if content.field_issuer %}
           <dl><dt>Issuer </dt><dd>{{content.field_issuer.0}}, a private limited company incorporated in Malaysia</dd></dl>
          {% endif %}

          {% if content.field_type_of %}
           <dl><dt>Type of Equity </dt><dd>{{content.field_type_of.0}}</dd></dl>
          {% endif %}

          {% if content.field_pre_money_valuation %}
            <dl><dt>Pre Money Valuation </dt><dd>{{content.field_pre_money_valuation.0}}</dd></dl>
            {% elseif content.field_pre_money_valuation_decima %}
              <dl><dt>Valuation </dt><dd>RM {{content.field_pre_money_valuation_decima.0}}</dd></dl>
          {% endif %}

          <!--{% if content.field_post_money_valuation %}
           <dl><dt>Valuation </dt><dd>{{content.field_post_money_valuation.0}}</dd></dl>
          {% endif %}-->

          {% if content.field_minimum_offering_size %}
           <dl><dt>Minimum Fundraising Target </dt><dd>{{content.field_minimum_offering_size.0}}</dd></dl>
          {% endif %}

          {% if content.field_maximum_offering_size %}
           <dl><dt>Maximum Fundraising Target </dt><dd>{{content.field_maximum_offering_size.0}}</dd></dl>
          {% endif %}

          {% if content.field_price_per_share %}
           <dl><dt>Price per Share </dt><dd>{{content.field_price_per_share.0}}</dd></dl>
          {% endif %}

          {% if content.field_minimum_equity_offered %}
           <dl><dt>Minimum Equity Offered </dt><dd>{{content.field_minimum_equity_offered.0}}</dd></dl>
          {% endif %}

          {% if content.field_maximum_equity_offered %}
           <dl><dt>Maximum Equity Offered </dt><dd>{{ content.field_maximum_equity_offered.0 }}</dd></dl>
          {% endif %}

          {% if content.field_total_shares_issued_in_off %}
           <dl><dt>Minimum Shares Offered </dt><dd>{{content.field_total_shares_issued_in_off.0 }}</dd></dl>
          {% endif %}

          {% if content.field_maximum_shares_offered %}
           <dl><dt>Maximum Shares Offered </dt><dd>{{content.field_maximum_shares_offered.0}}</dd></dl>
          {% endif %}

          <!--{% if content.field_number_of_shares_per_block %}
           <dl><dt>Number of shares per block </dt><dd>{{content.field_number_of_shares_per_block.0}}</dd></dl>
          {% endif %}-->

          <!--{% if content.field_minimum_block_per_investme %}
           <dl><dt>Minimum block per Investment </dt><dd>{{content.field_minimum_block_per_investme.0}}</dd></dl>
          {% endif %}-->

          {% if content.field_minimum_investment_amount %}
           <dl><dt>Minimum Investment Amount </dt><dd>{{content.field_minimum_investment_amount.0}}</dd></dl>
            {% else %}
              <dl><dt>Minimum Investment Amount </dt><dd>{{content.field_minimum_investment_amount_.0}}</dd></dl>
          {% endif %}

          {% if content.field_rewards %}
           <dl><dt>Rewards </dt><dd>{{content.field_rewards}}</dd></dl>
          {% endif %}

          {% if content.field_previous_terms %}
           <dl><dt>Impact on Shareholding Structure Upon Completion of the Offering </dt><dd>{{content.field_previous_terms}}</dd></dl>
          {% endif %}

          {% if content.field_investor_eligibility %}
           <dl><dt>Investor Eligibility </dt><dd>{{content.field_investor_eligibility.0}}</dd></dl>
          {% endif %}

          {% if content.field_pre_emptive_rights %}
           <dl><dt>Pre Emptive Rights </dt><dd>{{content.field_pre_emptive_rights.0}}</dd></dl>
          {% endif %}

          {% if content.field_type_of_shares %}
           <dl><dt>Type of Shares</dt><dd>{{content.field_type_of_shares.0}}</dd></dl>
          {% endif %}

          {% if content.field_information %}
           <dl><dt>Information </dt><dd>{{content.field_information.0}}</dd></dl>
          {% endif %}

          {% if content.field_fund_raising_perio %}
           <dl><dt>Fund Raising Period </dt><dd>A period of {{content.field_fund_raising_perio.0}}, commencing from the date of online listing on the ECF Platform.</dd></dl>
          {% endif %}

          {% if content.field_closing_period %}
           <dl><dt>Closing Period </dt><dd>{{content.field_closing_period.0}}</dd></dl>
          {% endif %}

          {% if content.field_use_of_proee %}
           <dl><dt>Use of Proceeds </dt><dd>{{content.field_use_of_proee.0}}</dd></dl>
          {% endif %}

          {% if content.field_procedure %}
           <dl><dt>Subscription Procedure </dt><dd>{{content.field_procedure.0}}</dd></dl>
          {% endif %}

          {% if content.field_disclaimer %}
           <dl><dt>Disclaimer </dt><dd>{{content.field_disclaimer.0}}</dd></dl>
          {% endif %}

          <dl><dt>Disclaimer by Securities Commission</dt><dd>
          <p>(i) No shares will be alotted or issued based on this document after six months from the closing of the offer period</p>
          <p>(ii) This issue, offer or invitation for the offering is a proposal not requiring authorisation of the Securities Commission under section 212(8) of the CMSA 2007</p>
          <p>(iii) This document has not been reviewed by the Securities Commission Malaysia. The Securities Commission does not recommend nor assumes responsibility for any information including any statement, opinion or report disclosed in relation to this fund raising exercise and makes no representation as to its accuracy or completeness. The Securities Commission expressly disclaims any liability whatsoever for any loss howsoever arising from or in reliance upon the whole or any part of the information disclosed.</p>
          </dd></dl>

          </div>

          <table class="table termsheet-table hidden-xs" border="0">
          {% if content.field_issuer|render is not empty %}
          <tr>
          <td class="bg-dark-purple white">Issuer</td>
          <td class="bg-grey">{{content.field_issuer.0}}</td>
          </tr>
          {% endif %}

          {% if content.field_type_of|render is not empty %}
          <tr>
          <td class="bg-dark-purple white">Type of Equity</td>
          <td class="bg-grey">{{content.field_type_of.0}}</td>
          </tr>
          {% endif %}

          {% if content.field_pre_money_valuation|render is not empty %}
            <tr>
              <td class="bg-dark-purple white">Pre Money Valuation</td>
              <td class="bg-grey">{{content.field_pre_money_valuation.0}}</td>
            </tr>
            {%  elseif content.field_pre_money_valuation_decima|render is not empty %}
              <tr>
                <td class="bg-dark-purple white">Pre Money Valuation</td>
                <td class="bg-grey">RM {{content.field_pre_money_valuation_decima.0}}</td>
              </tr>
          {% endif %}

          <!--{% if content.field_post_money_valuation|render is not empty %}
          <tr>
          <td class="bg-dark-purple white">Valuation</td>
          <td class="bg-grey">{{content.field_post_money_valuation.0}}</td>
          </tr>
          {% endif %}-->

          {% if content.field_minimum_offering_size|render is not empty %}
          <tr>
          <td class="bg-dark-purple white">Minimum Fundraising Target</td>
          <td class="bg-grey">{{content.field_minimum_offering_size.0}}</td>
          </tr>
          {% endif %}

          {% if content.field_maximum_offering_size|render is not empty %}
          <tr>
          <td class="bg-dark-purple white">Maximum Fundraising Target</td>
          <td class="bg-grey">{{content.field_maximum_offering_size.0}}</td>
          </tr>
          {% endif %}

          {% if content.field_price_per_share|render is not empty %}
          <tr>
          <td class="bg-dark-purple white">Price per Share</td>
          <td class="bg-grey">{{content.field_price_per_share.0}}</td>
          </tr>
          {% endif %}

          {% if content.field_minimum_equity_offered|render is not empty %}
          <tr>
          <td class="bg-dark-purple white">Minimum Equity Offered</td>
          <td class="bg-grey">{{content.field_minimum_equity_offered.0}}</td>
          </tr>
          {% endif %}

          {% if content.field_maximum_equity_offered|render is not empty %}
          <tr>
          <td class="bg-dark-purple white">Maximum Equity Offered</td>
          <td class="bg-grey">{{ content.field_maximum_equity_offered.0 }}</td>
          </tr>
          {% endif %}

          {% if content.field_total_shares_issued_in_off|render is not empty %}
          <tr>
          <td class="bg-dark-purple white">Minimum Shares Offered</td>
          <td class="bg-grey">{{content.field_total_shares_issued_in_off.0 }}</td>
          </tr>
          {% endif %}

          {% if content.field_maximum_shares_offered|render is not empty %}
          <tr>
          <td class="bg-dark-purple white">Maximum Shares Offered</td>
          <td class="bg-grey">{{content.field_maximum_shares_offered.0}}</td>
          </tr>
          {% endif %}

          <!--{% if content.field_number_of_shares_per_block|render is not empty %}
          <tr>
          <td class="bg-dark-purple white">Number of shares per block</td>
          <td class="bg-grey">{{content.field_number_of_shares_per_block.0}}</td>
          </tr>
          {% endif %}-->

          <!--{% if content.field_minimum_block_per_investme|render is not empty %}
          <tr>
          <td class="bg-dark-purple white">Minimum block per Investment</td>
          <td class="bg-grey">{{content.field_minimum_block_per_investme.0}}</td>
          </tr>
          {% endif %}-->

          {% if content.field_minimum_investment_amount|render is not empty %}
          <tr>
          <td class="bg-dark-purple white">Minimum Investment Amount</td>
          <td class="bg-grey">{{content.field_minimum_investment_amount.0}}</td>
          </tr>
            {% else %}
            <tr>
              <td class="bg-dark-purple white">Minimum Investment Amount</td>
              <td class="bg-grey">{{content.field_minimum_investment_amount_.0}}</td>
            </tr>
          {% endif %}

          {% if content.field_rewards|render is not empty %}
          <tr>
          <td class="bg-dark-purple white">Rewards</td>
          <td class="bg-grey">{{content.field_rewards}}</td>
          </tr>
          {% endif %}

          <!--{% if content.field_previous_terms %}
          <tr>
          <td class="bg-dark-purple white">Impact on Shareholding Structure Upon Completion of the Offering</td>
          <td class="bg-grey">{{content.field_previous_terms}}</td>
          </tr>
          {% endif %}-->

          {% if not (node.field_investor_eligibility.isEmpty == true) and content.field_investor_eligibility is defined %}

          <tr>
          <td class="bg-dark-purple white">Investor Eligibility</td>
          <td class="bg-grey">{{content.field_investor_eligibility.0}}</td>
          </tr>
          {% endif %}

          {% if content.field_pre_emptive_rights|render is not empty %}
          <tr>
          <td class="bg-dark-purple white">Pre Emptive Rights</td>
          <td class="bg-grey">{{content.field_pre_emptive_rights.0}}</td>
          </tr>
          {% endif %}

          {% if content.field_type_of_shares|render is not empty %}
          <tr>
          <td class="bg-dark-purple white">Type of Shares</td>
          <td class="bg-grey">{{content.field_type_of_shares.0}}</td>
          </tr>
          {% endif %}

          {% if content.field_information|render is not empty %}
          <tr>
          <td class="bg-dark-purple white">Information</td>
          <td class="bg-grey">{{content.field_information.0}}</td>
          </tr>
          {% endif %}

          {% if content.field_information_2|render is not empty %}
          <tr>
          <td class="bg-dark-purple white">Information</td>
          <td class="bg-grey">{{content.field_information_2.0}}</td>
          </tr>
          {% endif %}

          {% if content.field_fund_raising_perio|render is not empty %}
          <tr>
          <td class="bg-dark-purple white">Fund Raising Period</td>
          <td class="bg-grey">A period of {{content.field_fund_raising_perio.0}}, commencing from the date of online listing on the ECF Platform.</td>
          </tr>
          {% endif %}

          {% if content.field_closing_period|render is not empty %}
          <tr>
          <td class="bg-dark-purple white">Closing Period</td>
          <td class="bg-grey">{{content.field_closing_period.0}}</td>
          </tr>
          {% endif %}

          {% if content.field_use_of_proee|render is not empty %}
          <tr>
          <td class="bg-dark-purple white">Use of Proceeds</td>
          <td class="bg-grey">{{content.field_use_of_proee.0}}</td>
          </tr>
          {% endif %}

          {% if content.field_procedure|render is not empty %}
          <tr>
          <td class="bg-dark-purple white">Subscription Procedure</td>
          <td class="bg-grey">{{content.field_procedure.0}}</td>
          </tr>
          {% endif %}

          {% if content.field_disclaimer|render is not empty %}
          <tr>
          <td class="bg-dark-purple white">Disclaimer</td>
          <td class="bg-grey">{{content.field_disclaimer.0}}</td>
          </tr>
          {% endif %}

          <tr> <td class="bg-dark-purple white">Disclaimer by Securities Commission</td><td class="bg-grey">
          <p>(i) No shares will be alotted or issued based on this document after six months from the closing of the offer period</p>
          <p>(ii) This issue, offer or invitation for the offering is a proposal not requiring authorisation of the Securities Commission under section 212(8) of the CMSA 2007</p>
          <p>(iii) This document has not been reviewed by the Securities Commission Malaysia. The Securities Commission does not recommend nor assumes responsibility for any information including any statement, opinion or report disclosed in relation to this fund raising exercise and makes no representation as to its accuracy or completeness. The Securities Commission expressly disclaims any liability whatsoever for any loss howsoever arising from or in reliance upon the whole or any part of the information disclosed.</p>
          </td></tr>

          </table>

        </div>


        </div>
        </div>
        {% endif %}

<!-- End Term sheet -->

<!-- Start tab Discussion -->
{% if logged_in %}
    <div id="discussion" class="tab-pane fade paddtop20">
        <div class="col-sm-12 nomargin nopadding bg-white " style="padding-right:40px">
          {{content.field_discussion.0}}
        </div>
    </div>
{% else %}
    <div id="discussion_out" class="tab-pane fade paddtop20">
        <div class="col-sm-12 nomargin nopadding bg-white " style="padding-right:40px">
          <a href="/user/login" class="btn ghost-btn-purple blocked font18">Log In to View</a>
        </div>
    </div>
{% endif %}
<!-- End Discussion -->

<!-- Start tab Downloads -->
{% if logged_in %}
    {% if logged_in %}
      <div id="downloads" class="tab-pane fade paddtop20">
          <div class="col-sm-12 nomargin nopadding bg-white " style="padding-right:40px">
            {{ content.field_downloads }}
          </div>
        {% if total_invested  %}
            <div class="col-sm-12 nomargin nopadding bg-white " style="padding-right:40px">
              {{ content.field_post_campaign_ }}
            </div>

            <div class="col-sm-12 nomargin nopadding bg-white " style="padding-right:40px">
              <a href="{{ node.field_investment_agreement_url.0.url }}" target="_blank" class="btn ghost-btn-purple blocked font18">Investment Agreement</a>
            </div>
        {% endif %}
      </div>
    {% endif %}

    {% else %}

      <div id="downloads_out" class="tab-pane fade paddtop20">
          <div class="col-sm-12 nomargin nopadding bg-white " style="padding-right:40px">
            <a href="/user/login" class="btn ghost-btn-purple blocked font18">Log In to View</a>
          </div>
      </div>

{% endif %}
<!-- End Downloads -->

<!-- Start tab Investments -->
  {% if content.flag_invested %}
    <div id="investments" class="tab-pane fade paddtop20">

      {{ drupal_view('commitment', 'block_1') }}

    </div>
  {% endif %}
<!-- End investments -->

<!-- Start tab Updates -->
{% if logged_in %}
    <div id="updates" class="tab-pane fade paddtop20">
      {% if is_author %}
        <a href="/node/add/deals_update?deal={{nid}}" class="btn ghost-btn-purple blocked font18">Add update</a>
      {% endif %}
      {% if user.hasPermission('administer nodes') %}
        <a href="/node/add/deals_update?deal={{nid}}" class="btn ghost-btn-purple blocked font18">Add update</a>
      {% endif %}
      {{ drupal_view('updates', 'block_1') }}
    </div>
{% else %}
  <div id="updates_out" class="tab-pane fade paddtop20">
    <div class="col-sm-12 nomargin nopadding bg-white " style="padding-right:40px">
      <a href="/user/login" class="btn ghost-btn-purple blocked font18">Log In to View</a>
    </div>
  </div>
{% endif %}
<!-- End updates -->

</div>

<!-- End Contents -->

</div>

<!-- Start Disclaimer -->
<div class="padd60 white risk-disclaimer">
  <div class="container">
    <h1 class="banner-title text-center">Risk Disclaimer</h1>
    <p>Investing in equity crowdfunding involves certain risks that include uncertainty of returns, lack of liquidity, dilution, material events and lack of control. Investments should be done as part of a diversiﬁed portfolio. ATA PLUS offers investment opportunities to investors who understands these risks in making their own investment decisions.</p>
    <p><strong>PLEASE READ THE FULL RISK WARNING BEFORE DECIDING TO INVEST.</strong></p>
    <p>This page is approved as a ﬁnancial promotion by ATA PLUS Sdn. Bhd., which is authorized and regulated by the Security Commission of Malaysia. Deals that are up for investment are only offered to members of ata-plus.com on the basis of information provided by the companies concerned. ATA PLUS takes no responsibility for this information or for any recommendations or opinions made by the companies. For further information on this, please read our Term of Use.</p>

  </div>
</div>

<!-- End Disclaimer -->

<!-- Start Modal -->
{% if logged_in %}
<div class="modal fade" id="modal-invest-1">
  <div class="modal-dialog bg-white" style="padding:10px">
    <div style="padding:10px" class="header"><h1 class="banner-title dark-blue text-center" style="margin:10px 0">Investor Details</h1></div>

    <div class="body bg-dark-blue white padd20">
      <p>In order for you to proceed with this investment, please ensure that you complete the following in your profile:</p>
      <p>FULL NAME<br>NRIC/ PASSPORT NO<br>SCANNED NRIC/ PASSPORT<br>ADDRESS<br>CONTACT NUMBER<br>INVESTOR DECLARATION</P>
      <a class="margintop40 centered btn ghost-btn-white blocked" id="editprofilebutton_{{machine}}" href="/user/{{ uid }}/edit">Edit Profile</a>
    </div>

    <div style="padding:10px" class="header"><h1 class="banner-title dark-blue text-center" style="margin:10px 0">Investor Agreement </h1></div>
      <div class="body bg-dark-blue white padd20">
        <a class="margintop20 marginbottom30 centered btn ghost-btn-white blocked" href="{{ node.field_investment_agreement_url.0.url }}" id="readagreementbutton_{{machine}}" target="_blank">Read Before Proceeding</a>
        <p>I have read and agreed to the terms of Investment Agreement and the accompanying Annexure Partnership Agreement</p>
        <p>By clicking 'I Accept', Users (as an individual and on behalf of any entity represented by them) agree to be bound by the terms of this Investment Agreement as of the date the Users take such action, acknowledge that the Users have read the</p>

        <!--<div class="form-inline">
          <div class="radio" style="margin-right:15px"><input type="radio" name="investment"><label style="padding-left:10px">Yes</label></div>
          <div class="radio"><input type="radio" name="investment"><label style="padding-left:10px">No</label></div>
        </div>-->

        <a class="margintop40 centered btn ghost-btn-white blocked" href="#" id="show-modal-2">I Accept</a>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal-invest-2">
  <div class="modal-dialog bg-white" style="padding:10px">
    <div style="padding:10px" class="header"><h1 class="banner-title dark-blue text-center" style="margin:10px 0">Schedule 1</h1></div>
    <div class="body bg-dark-blue white padd20">
      {{ form_invest }}
    </div>
  </div>
</div>


<div class="modal fade" id="modal-invest-3">
  <div class="modal-dialog bg-white" style="padding:10px">
    <div style="padding:10px" class="header"><h1 class="banner-title dark-blue text-center" style="margin:10px 0"> Hi {{ username }}</h1></div>
    <div class="body bg-dark-blue white padd20">
        <p>Thank you for your interest in the campaign. </p><br />

        <p>Unfortunately, we are unable to process your investment due to age restrictions by law, which requires you to be at least 18 years old and above.</p>

        <p>Should you require any clarification on the above, please email us at <a href="mailto:enquiry@ata-plus.com">enquiry@ata-plus.com</a></p><br /><br />
      <button type="button" class="margintop40 centered btn ghost-btn-white blocked" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
{% endif %}

<!-- End Modal -->
